<div class="cloth cloth-list-item">
    <div class="cloth-cover">
        <img src="https://dummyimage.com/640x360/269fe6" alt="Temprário">
    </div>
    <div class="cloth-title-container">
        <h2 class="cloth-title">Título do Pano de Prato</h2>
    </div>
    <div class="cloth-author">
        <span class="cloth-author-item">
            <i class="fas fa-user"></i>
            Rachel Moreira de Moraes
        </span>
        <hr>
        <span class="cloth-author-item">
            <i class="fas fa-calendar-alt"></i>
            13/05/2024 às 19:58
        </span>
        <hr>
        <span class="cloth-author-item">
            <a href="cloth/category/cow">
                <i class="fas fa-layer-group"></i>
                Vacas
            </a>
        </span>
    </div>
    <div class="cloth-content">
        <p>A referência são os animais rurais simbolizado por uma vaquinha.</p>
    </div>
    <div class="cloth-meta-container">
        <div class="cloth-meta money-value">
            <h3 class="cloth-meta-title"><i class="fa-solid fa-dollar-sign"></i></h3>
            <div class="cloth-meta-text">
                R$ 15,50
            </div>
        </div>
        <div class="cloth-meta quantity">
            <h3 class="cloth-meta-title"><i class="fa-solid fa-receipt"></i></h3>
            <div class="cloth-meta-text">
                Restam: 9
            </div>
        </div>
    </div>
</div>